/* FS Elliot Pro Regular */
@font-face {
    font-family: 'FS Elliot Pro';
    src: url('../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.eot');
    src: url('../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.woff') format('woff'),
         url('../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont#fs_elliot_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}