.bhs-body-wrapper{
	background:url(../../../images/portal/6/splash.png)no-repeat center;
	height: 790px;
	margin:25px 0;
	position: relative;
	text-align: center;
}

.bhs-logo{
	width: 15%;
    margin: 15px 0 10px;
}

#bhs-welcome-content{
	padding: 0 10px;
}

#bhs-welcome-content h1{
	color: #993333!important;
	font-size: 24px;
	font-weight: 400;
}


#bhs-welcome-content h1 > span{
	color: #cc6600;
	display: block;
	font-size: 32px;
}

#bhs-welcome-content h4{
	color: #993333!important;
	font-size: 18px;
	font-weight: 400;
}

#bhs-footer-content{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#bhs-footer-content h4{
	padding:0 50px;
}

#bhs-footer-content h4, .link-text{
	color:#fff!important;
	font-size: 12px;
	font-weight: 400;
}


@media only screen and (max-width: 40em) {
	div#bhs-cp.col-sm-12{
		padding:0!important;
	}

	.bhs-body-wrapper{
		margin:0;
	}

	#bhs-welcome-content h1 > span{
		font-size: 28px;
	}

	#bhs-welcome-content h4, #bhs-welcome-content h4 > span{
		font-size: 12px;
	}

	#bhs-footer-content h4{
		margin:5px 0!important;
	}

	#bhs-footer-content{
		bottom: 15px;
	}

}


@media only screen and (max-width: 40em) and (orientation: landscape){
	
	.bhs-body-wrapper{
		margin:10px 0;
	} 
	#bhs-footer-content{
		bottom: 10px;
	}
}


/*Iphone6 Landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){
	.bhs-logo{
		width: 10%;
	}

	#bhs-footer-content{
		bottom: 15px;
	}
}

/*Tablet*/

@media only screen and (min-width: 40.063em) and (orientation: portrait){
	#bhs-footer-content h4{
		padding:0 200px;
	}

	.bhs-body-wrapper{
		margin:50px 0;
	}

	.bhs-logo{
		width: 10%;
	}

	#bhs-welcome-content h1{
		font-size: 18px;
	}
	#bhs-welcome-content h1 > span{
		font-size: 28px;
	}

	#bhs-welcome-content h4{
		font-size:16px;
	}

	#bhs-footer-content{
		bottom: 10px;
	}
}