* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background: none;
}
html{
    overflow: hidden;
}
#webflowadapternotificationframe2 {
    background: none repeat scroll 0 0 #fff;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 99.9% !important;
    /*z-index: 1000000 !important;*/
    height: 100%;
    display: table;
}
#webflowadapternotificationcontent2 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-right: 23px;
}
.buttons{
    border: 1px solid #C3C3C3;
    font-family: monospace;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: wheat;
    position: fixed;
    top: 0;
    right: 0;
}
.buttons:hover{
    background: none repeat scroll 0 0 #C3C3C3;
    cursor: pointer;
}
#timer-cont {
    background-color: #000;
    color: yellow;
}
.timer-label {
    font-weight: bold;
}