/*Family Mart CSS*/

* {
  font-family: Calibri,-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif !important;
}

body {
  background: #1e5799;

  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #007dc2 72%, #207cca 74%, #008cce 100%);

  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%, #007dc2 72%, #207cca 74%, #008cce 100%);

  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #1e5799 0%, #007dc2 72%, #207cca 74%, #008cce 100%);

  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //color: #fff;
  font-size: 16px;
  max-height: 100%;
}

.centered-section {
  text-align: center;
}

.centered-section h1 {
  font-size: 38px !important;
  line-height: 1 !important;
  margin-top: 10px !important;
}

.centered-section #captive-portal-welcome-message h1 > span {
  font-size: 42px !important;
}

.centered-section #captive-portal-welcome-message h4, .centered-section #captive-portal-welcome-message span {
  font-size: 22px;
}

.centered-section #captive-portal-button-wrapper h4 {
  padding: 0 100px;
  font-size: 14px !important;
}

.centered-section #captive-portal-button-wrapper .link-text {
  font-size: 14px !important;
}

.globe-footer-logo {
  margin-top: 30px;
  width: 50%;
}

/*Small Devices Default*/

@media only screen and (max-width: 40em) {
  #captive-portal-content-small h1 {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 5px !important;
  }

  #captive-portal-content-small h4, #captive-portal-content-small span, #captive-portal-content h4, #captive-portal-content a {
    font-size: 11px;
  }

  .centered-section #captive-portal-button-wrapper h4 {
    padding: 0 50px;
  }

  .centered-section #captive-portal-button-wrapper h4, .centered-section #captive-portal-button-wrapper .link-text {
    font-size: 10px !important;
  }
}

/*Iphone 6 Landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #captive-portal-content-small img {
    width: 50% !important;
  }

  #captive-portal-content-small h1 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px !important;
  }

  #captive-portal-content-small h4, #captive-portal-content-small span {
    font-size: 18px;
  }

  .globe-footer-logo {
    width: 30%;
    margin: 20px 0;
  }
}

/*Iphone 6+ Landscape*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  #captive-portal-content-small img {
    width: 50% !important;
  }

  #captive-portal-content-small h1 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px !important;
  }

  #captive-portal-content-small h4, #captive-portal-content-small span {
    font-size: 18px;
  }

  .globe-footer-logo {
    width: 30%;
    margin: 20px 0;
  }
}

/*Tablet-Ipad*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  #captive-portal-content-small img {
    margin-bottom: 30px;
  }

  .globe-footer-logo {
    width: 30%;
  }
}