@font-face {
  font-family: 'montserratbold';
  src: url("../../../fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../../../fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratextra_bold';
  src: url("../../../fonts/montserrat/montserrat-extrabold-webfont.woff2") format("woff2"), url("../../../fonts/montserrat/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemi_bold';
  src: url("../../../fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("../../../fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'montserratsemi_bold','Calibri',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  background: #0C102B;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  margin: 0 !important;
}

a:hover {
  text-decoration: none;
}

a[x-apple-data-detectors].user-number, a [href^="tel"] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

button, input[type=button], input[type=reset], input[type=submit], input[type=number], input[type=text] {
  display: block;
  margin: 10px auto 20px;
  white-space: normal !important;
}

input[type=reset], input[type=number], input[type=text] {
  border: 0;
  padding: 10px 5px;
  color: #000;
  text-align: center;
}

input[type="number"], input[type="text"] textarea, select {
  -webkit-appearance: none;
  border-radius: 0;
}

.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.strong {
  font-family: "montserratextra_bold","Calibri", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
}

.btn {
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-family: "montserratbold","Calibri", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
  font-size: 18px;
  margin: 0 auto 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.btn:hover {
  color: #fff;
}

.yellow-btn {
  background: #fed002;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}

.container .row {
  display: table-cell;
  vertical-align: middle;
}

.cfs-body-wrapper {
  background: url("../../../images/portal/47/center_image.png") no-repeat center 50%;
  height: auto;
  min-height: 660px;
  padding: 30px;
  position: relative;
  text-align: center;
}

.cfs-default-wrapper {
  background: url(../../../images/portal/47/splash.png) no-repeat center 50%;
  height: auto;
  min-height: 640px;
  padding: 50px 30px;
  position: relative;
  text-align: center;
}

#cfs-welcome-content h1, .cfs-default-content h1, #cfs-welcome-content h2, .cfs-default-content h2, #cfs-welcome-content h3, .cfs-default-content h3 {
  color: #fff;
  font-family: "montserratextra_bold","Calibri", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

#cfs-welcome-content h1 {
  font-size: 58px;
}

#cfs-welcome-content h2 {
  font-size: 32px;
}

#cfs-welcome-content h3 {
  font-size: 24px;
  text-transform: lowercase;
}

#cfs-footer-content {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

#cfs-footer-content img {
  display: block;
  margin: 0 auto;
}

.highlight {
  font-family: 'montserratbold','Calibri',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
  font-size: inherit;
  text-transform: uppercase;
}

.cfs-default-content {
  padding: 0 10px;
}

.cfs-default-content h4 {
  font-size: 16px;
  margin-bottom: 10px !important;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

h1.heading-underline {
  font-size: 42px !important;
  border-bottom: 4px solid #fff;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.7);
  line-height: 1.2;
}

/*Form*/
.form-wrapper {
  color: #fff;
  margin: 20px 0;
}

.form-wrapper input[type=number] {
  font-family: 'montserratsemi_bold','Calibri',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
  text-transform: capitalize;
  width: 100%;
}

.form-wrapper label {
  font-size: 24px;
  padding: 0 15px;
}

#user-number {
  color: #565656;
  font-size: 24px;
  margin-bottom: 5px !important;
}

.form-wrapper a {
  border-bottom: 2px solid #69d3ff;
  color: #69d3ff;
  font-size: 14px;
}

.form-wrapper h5 {
  font-size: 16px;
  text-align: left !important;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

.form-wrapper input[type="submit"], .cfs-default-content button {
  width: 60%;
}

/*Verification*/
.cfs-default-content h5, .cfs-default-content h5 > span {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  font-family: "montserratsemi_bold","Calibri", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7);
}

.cfs-default-content h5 > span {
  font-family: "montserratextra_bold" !important;
}

.cfs-default-content p {
  text-align: left;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

.error-message {
  background: #ffe2e2;
  padding: 10px;
  margin: 20px 0;
  width: 75%;
  margin: 20px auto;
}

.error-message h6 {
  margin: 0 !important;
  text-transform: uppercase;
  color: #fe0000;
  font-size: 12px;
}

.error-message img {
  bottom: 1px;
  margin-right: 2px;
  position: relative;
}

/*Return User*/
h2.user-number {
  color: #fed002 !important;
}

#cfs-welcome-content h4 {
  color: #fff;
  font-size: 20px;
  padding: 10px 100px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 40em) {
  .container {
    padding: 0 !important;
  }

  div#cfs-cp.col-sm-12 {
    padding: 0 !important;
  }

  .cfs-body-wrapper, .cfs-default-wrapper {
    margin: 0;
    padding: 40px 0;
  }

  .cfs-body-wrapper {
    background-position-y: 30%;
  }

  .cfs-default-wrapper {
    min-height: 100vh;
  }

  #cfs-welcome-content h1 {
    font-size: 48px;
  }

  #cfs-welcome-content h2 {
    font-size: 32px;
  }

  #cfs-welcome-content h3 {
    font-size: 30px;
    text-transform: lowercase;
  }

  .form-wrapper label {
    padding: 0 10px;
  }

  .cfs-default-content h4 {
    font-size: 14px;
  }

  h1.heading-underline {
    font-size: 32px !important;
  }

  .form-wrapper input[type="submit"], .cfs-default-content button {
    font-size: 14px;
  }

  .cfs-default-content h5, .cfs-default-content h5 > span {
    font-size: 24px;
    margin-bottom: 20px !important;
  }

  #cfs-welcome-content h4 {
    font-size: 18px;
    padding: 0;
  }

  .error-message h6 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 40em) and (orientation: landscape) {
  .cfs-default-content h5 {
    padding: 10px 50px;
    margin-bottom: 10px !important;
  }

  .cfs-default-content h5, .cfs-default-content h5 > span {
    font-size: 24px;
    margin-bottom: 20px !important;
  }

  .cfs-default-wrapper {
    margin: 0;

    /*min-height: 100vh;*/
    background-size: cover;
  }

  #cfs-welcome-content h4 {
    padding: 0 80px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .cfs-body-wrapper, .cfs-default-wrapper {
    margin: 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .cfs-default-wrapper {
    margin: 0;
    background-size: cover;
  }

  .cfs-default-content h5, .cfs-default-content h5 > span {
    font-size: 24px;
    margin-bottom: 20px !important;
  }

  #cfs-welcome-content h4 {
    padding: 0 150px !important;
  }
}

/*Ipad*/
@media only screen and (min-width: 40.063em) and (orientation: portrait) {
  .cfs-default-content h5, .cfs-default-content h5 > span {
    font-size: 24px;
    margin-bottom: 20px !important;
  }

  #cfs-welcome-content h4 {
    font-size: 16px;
  }

  #cfs-welcome-content h2 {
    font-size: 32px;
  }

  .cfs-body-wrapper, .cfs-default-wrapper {
    background-size: cover;
    height: 100vh;
  }

  .container, #cfs-cp {
    padding: 0;
  }

  #cfs-welcome-content, .cfs-default-content {
    margin-top: 60px;
  }

  #cfs-footer-content {
    bottom: 30px;
  }
}

@media only screen and (min-device-width: 40.063em) and (orientation: landscape) {
  .form-wrapper input[type="submit"], .cfs-default-content button {
    font-size: 15px;
  }

  .cfs-default-content h5, .cfs-default-content h5 > span {
    font-size: 24px;
    margin-bottom: 20px !important;
  }

  #cfs-welcome-content h4 {
    font-size: 16px;
    padding: 0 80px;
  }

  #cfs-welcome-content h2 {
    font-size: 32px;
  }

  /*.cfs-default-wrapper {
    background-size: cover;
  }*/
}