#ayala-app-heading {
  font-size: 18px;
  margin-bottom: 20px !important;
}

.ayala-app-logo {
  margin: 10px 0 50px;
  width: 50%;
}

.ayala-app-badge {
  margin: 0 10px 30px;
  width: 40%;
}

@media only screen and (max-width: 40em) and (orientation: portrait) {
  #ayala-app-wrapper p {
    font-size: 12px;
  }

  #ayala-app-wrapper .btn {
    font-size: 13px;
  }

  .ayala-app-logo {
    margin: 10px 0 30px;
    width: 80%;
  }

  .ayala-app-badge {
    margin: 0 0 30px;
    width: 45%;
  }
}