/*Megaworld*/

* {
    font-family: 'Calibri',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

html, body {
    height: 100%;
}

/*Template
=============================*/
#captive-portal-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

#captive-portal-wrapper .container {
    display: table-cell;
    vertical-align: middle;
    width: 620px;
}

.logo-wrapper {
    margin-bottom: 50px;
}

.logo-wrapper img {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}

.centered-content {
    text-align: center;
}

.white-bg {
    background: #fff;
}

/*Default Wrapper
=============================*/
.base-wrapper {
    background: #fff;
    /*box-shadow: 1px 1px 9px 3px rgba(0, 0, 0, 0.5);*/
    margin: 30px 0;
    padding: 50px 25px;
}

.megaworld-logo-small img {
    width: 50%;
}

.base-content {
    margin: 20px 0;
    padding: 0 20px;
}

.base-content h2 {
    font-size: 24px;
    font-weight: 700;
}

.base-content h4, .base-content a {
    font-size: 18px;
    line-height: 1.5;
}

.base-content h4 a {
    font-weight: bold;
    text-decoration: underline;
}

.resend-link {
    color: #D2D220;
    font-weight: bold;
    font-size: 20px !important;
    margin-bottom: 10px !important;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-block-wrapper {
    margin: 20px;
}

.form-block-wrapper input[type="tel"] {
    border-radius: 0;
    height: 44px;
    margin-bottom: 5px;
    padding: 5px 15px;
}

.form-block-wrapper p {
    text-align: left;
}

.form-block-wrapper input[type="submit"], .form-block-wrapper button {
    margin-bottom: 20px;
    width: 100%;
}

.form-block-wrapper h5 {
    font-size: 16px;
    font-weight: 700;
}

.facebook-btn {
    background: #3b5999;
    color: #fff;
}

/*Landing Page Wrapper
=============================*/
#landing-page-wrapper {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

#landing-page-wrapper img {
    border: 1px solid #000;
    width: 80%;
    max-width: 100%;
}

#landing-page-wrapper h4 {
    font-weight: bold;
    margin: 20px 0;
}

/*Button
=============================*/
button, .button {
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 30px;
    text-transform: uppercase;
    white-space: normal !important;
}

.radio-wrapper input[type=radio], .radio-wrapper input[type=checkbox] {
    -webkit-appearance: radio !important;
    float: left;
    margin-right: 5px;
}

.radio-wrapper label {
    font-size: 16px;
}

.group-btn {
    margin: 5px 0 !important;
}

.link-text, .link-text:hover, .link-text:focus {
    color: #fff;
}

/*Modal*/

.default-wrapper, .modal-footer, .modal-title, .small-modal-body-style {
    text-align: center;
}

.modal-content, .radio-wrapper {
    position: relative;
}

.modal-header {
    border: 0 !important;
    padding: 30px 15px;
}

.modal-header .close {
    position: relative;
    bottom: 10px;
    right: 10px;
}

.close span {
    font-size: 30px;
    font-weight: 700;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
}

.modal-body h4 {
    font-size: 20px;
    line-height: 1.5;
}

.modal-footer {
    border-top: 0 !important;
    padding: 0;
}

.modal-footer .button {
    display: block;
}

.modal-footer footer {
    margin: 30px 0 0;
}

.small-modal-style {
    border-bottom: 0 !important;
    overflow: hidden;
    padding: 0 20px;
}

.small-modal-body-style h2 {
    font-size: 24px;
}

#modal-scroll-content {
    border: 1px solid #ccc;
    height: 180px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.modal-content-wrapper {
    padding: 0 50px 20px;
}

#captive-portal-button-wrapper, .disclaimer {
    margin-top: 25px;
}

#captive-portal-button-wrapper h4 {
    padding: 0 100px;
    font-size: 15px !important;
    color: #fff;
}

#captive-portal-button-wrapper .link-text {
    font-size: 15px !important;
    text-decoration: underline;
}

#call-to-action-btn-wrapper {
    margin: 30px 0;
}

.cp-btn {
    padding: 10px 50px;
}

#captive-portal-image img {
    width: 100%;
    text-align: center;
}

#captive-portal-content {
    text-align: center;
}

#captive-portal-content h1 {
    color: #fff;
    font-size: 42px;
    line-height: 1;
    margin: 10px 0 5px !important;
}

#captive-portal-content h4 {
    color: #fff;
    font-weight: normal;
}

#captive-portal-welcome-message h4 {
    font-size: 22px;
}

#captive-portal-welcome-message h4 > span {
    font-size: 22px;
    font-weight: bold;
}

#captive-portal-welcome-message img {
    margin-bottom: 20px;
    width: auto;
}

.default-disclaimer {
    margin-bottom: 25px;
}

.default-disclaimer a, .default-disclaimer h4 {
    font-size: 14px;
}

.default-wrapper {
    background: #fff;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.8);
    margin: 50px 0;
    padding: 60px 60px 30px;
}

#default-to-action-btn-wrapper {
    margin: 20px 0;
}

.captive-portal-heading {
    font-weight: 600;
}

.default-content {
    margin-top: 30px;
    padding: 0 50px;
}

#verification-phone-number-wrapper {
    margin-bottom: 30px;
}

#verification-phone-number-wrapper h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
}

#verification-phone-number-wrapper a {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

#survey-wrapper h1, .btn, .error-notification h5 {
    font-weight: 600;
    text-transform: uppercase;
}

#returning-user-wrapper h1 {
    font-size: 24px;
    font-weight: normal;
}

#returning-user-wrapper h1 > span {
    display: block;
    font-size: 36px;
}

#returning-user-wrapper > .disclaimer {
    margin-bottom: 25px;
}

#survey-wrapper h5 {
    font-size: 18px;
    padding: 20px 0;
}

#form-select-wrapper {
    margin-bottom: 30px;
}

.notification {
    border-bottom: 1px dashed #ECE9E9;
    margin: 10px 0;
}

.notification p {
    color: #A7A7A7;
    margin: 0;
    padding: 10px 0;
}

#survey-form-container {
    margin-bottom: 50px;
}

.radio-wrapper {
    width: 80px;
    margin: 0 auto !important;
    text-align: left;
}

button, input, textarea {
    -webkit-appearance: none;
}

.default-wrapper label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.default-wrapper input[type=tel] {
    border: 1px solid #6F6E6E;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

.error-notification {
    background: #FF5959;
    color: #fff;
    margin: 10px 0;
    padding: 8px 0;
}

.error-notification h5 {
    font-size: 15px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
    20%,40%,60%,80%,from,to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    20%,40%,60%,80%,from,to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*Small Devices Default*/

@media only screen and (max-width: 40em) {
    /*Megaworld*/

    a, button {
        font-size: 11px;
    }

    .cp-btn {
        font-size: 14px;
        width: 100%;
    }

    #captive-portal-wrapper {
        margin: 0;
    }

    .logo-wrapper {
        margin-bottom: 50px;
    }

    #megaworld-captive-portal {
        padding: 20px;
    }

    /*Default-Wrapper*/
    .base-wrapper {
        padding: 20px 10px;
    }

    .base-content {
        padding: 0 10px;
    }

    .base-content h2 {
        font-size: 18px;
    }

    .base-content h4, .base-content a, .form-block-wrapper h5 {
        font-size: 14px;
    }

    .form-block-wrapper button {
        width: 100%;
    }

    .form-block-wrapper {
        margin: 0;
    }

    /*Modal*/
    .modal-content-wrapper {
        padding: 0 15px 30px;
    }

    /*end of megaworld*/

    #captive-portal-wrapper {
        padding: 0 20px;
    }

    #captive-portal-content {
        margin-bottom: 20px;
        text-align: center;
    }

    #captive-portal-content h1 {
        font-size: 26px;
    }

    #captive-portal-content a {
        font-size: 12px;
    }

    #captive-portal-button-wrapper {
        margin: 10px 0;
    }

    #captive-portal-content-small {
        color: #fff;
        font-weight: 300;
        margin-bottom: 10px !important;
        text-align: center;
    }

    #captive-portal-content-small img {
        width: 60%;
        margin: 20px 0;
    }

    #captive-portal-content-small h1 {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 5px !important;
    }

    #captive-portal-content-small h1 > span {
        display: block;
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        margin: 10px 0;
    }

    #captive-portal-content-small h4, #captive-portal-content-small span, #captive-portal-content h4, #captive-portal-content a {
        font-size: 11px;
    }

    #captive-portal-button-wrapper h4 {
        padding: 0 0px;
    }

    #captive-portal-button-wrapper h4, #captive-portal-button-wrapper .link-text {
        font-size: 10px !important;
    }

    .yellow-btn {
        margin: 5px 0;
    }

    footer {
        margin-bottom: 10px;
        text-align: center;
    }

    .modal-title {
        font-size: 18px;
        font-weight: 700;
    }

    .modal-header .close {
        position: relative;
        bottom: 10px;
    }

    .small-modal-style .close {
        top: 10px;
    }

    .default-wrapper {
        margin: 15px 0;
        padding: 50px 20px;
    }

    .default-content {
        padding: 0;
    }

    .default-wrapper h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    .captive-portal-heading {
        font-size: 20px;
    }

    .btn, .captive-portal-sub-heading p {
        font-size: 14px;
    }

    input[type=submit] {
        padding: 15px 0;
    }

    .primary-btn:after, .secondary-btn:after {
        content: "";
    }

    /*Landing Page*/
    #landing-page-wrapper{
      padding:20px 0;
    }
    #landing-page-wrapper h4{
      font-size: 14px;
      line-height: 1;
    }
}

/*Small Devices Landscape*/
@media only screen and (max-width: 40em) and (orientation: landscape) {
    /*megaworld*/
    .cp-btn {
        font-size: 14px;
        width: 60%;
    }

    #captive-portal-wrapper {
        margin: 0;
    }

    #megaworld-captive-portal {
        padding: 30px;
    }

    .logo-wrapper img {
        width: 40% !important;
    }

    .base-content {
        padding: 0 50px;
    }

    /*Modal*/
    .modal-content-wrapper {
        padding: 0 50px 30px;
    }

    /*end-of-megaworld*/

    .visibile-table-portrait, .visible-xs {
        display: block !important;
    }

    #captive-portal-content-small {
        color: #fff;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 10px !important;
        text-align: center;
    }

    #captive-portal-content-small h1 span {
        display: block;
        font-size: 30px;
    }

    #captive-portal-welcome-message {
        display: none;
    }

    #captive-portal-content-small h4, #captive-portal-content-small span, #captive-portal-content h4, #captive-portal-content a {
        font-size: 12px;
    }

    #captive-portal-content-small img {
        width: auto;
        max-width: 100%;
    }
}

/*Iphone 6 Landscape*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    #captive-portal-wrapper {
        margin: 0 !important;
    }

    #megaworld-captive-portal {
        padding: 30px;
    }

    .logo-wrapper {
        margin-bottom: 20px;
    }

    .logo-wrapper img {
        width: 40% !important;
    }
}

/*Tablet-Ipad Portrait*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
    .visibile-table-portrait, .visible-xs {
        display: block !important;
    }

    #captive-portal-content-small {
        color: #fff;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 10px !important;
        text-align: center;
    }

    #captive-portal-content-small h1 span {
        display: block;
        font-size: 30px;
    }

    #captive-portal-welcome-message {
        display: none;
    }

    #captive-portal-content-small img {
        margin: 20px 0;
        width: 50%;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
    #captive-portal-content h1 > span {
        font-size: 32px;
    }
}

@media only screen and (min-width: 40.063em) and (orientation: portrait) {
    #captive-portal-content, footer {
        text-align: center;
    }

    #captive-portal-button-wrapper {
        margin-top: 10px;
    }

    footer {
        margin-top: 20px;
    }
}

/*Medium Up - min-width 641px*/
@media only screen and (min-width: 40.063em) and (max-width: 1000px) and (orientation: landscape) {
    #captive-portal-image img {
        width: 80%;
    }

    #captive-portal-image {
        text-align: center;
    }

    #captive-portal-content-small img {
        margin: 20px 0;
        width: auto;
    }

    #captive-portal-content-small {
        color: #fff;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 10px !important;
        text-align: center;
    }

    #captive-portal-content-small h1 span {
        display: block;
        font-size: 30px;
    }

    .globe-footer-logo {
        margin: 30px 0;
        width: 30%;
    }

    #captive-portal-welcome-message {
        display: none;
    }

    #captive-portal-content-small {
        display: block !important;
    }
}

/*Large Up - min-width 1025px*/
@media only screen and (min-width: 64.063em) {
    #captive-portal-wrapper {
        display: table;
        table-layout: fixed;
    }

    .display-cell {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }

    .modal-dialog {
        margin-top: 100px;
    }

    .modal-title {
        font-size: 28px;
    }
}

#captive-portal-welcome-message p {
    color: #fff;
    font-size: 16px;
}

#captive-portal-content-small p, #captive-portal-content-small p > strong {
    color: #fff;
    font-size: 11px;
    margin: 5px 0;
}

@media (min-width: 768px) and (orientation: landscape) {
    .col-sm-offset-2 {
        margin-left: 16.66667% !important;
    }
}

@media (min-width: 1000px) and (orientation: landscape) {
    .col-sm-offset-2 {
        margin-left: 0px !important;
    }
}

body {
  background: #a60f0f;
}

.cp-btn {
  background: #fff;
}

.primary-btn {
  background: #a60f0f;
  color: #fff !important;
  margin: 10px 0;
}

.secondary-btn {
  background: #000;
  color: #fff;
  margin: 10px 0;
  text-shadow: none !important;
}