@font-face {
    font-family: 'fs_elliot_proregular';
    src: url("../../../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.eot");
    src: url("../../../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.woff2") format("woff2"), url("../../../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.woff") format("woff"), url("../../../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.ttf") format("truetype"), url("../../../fonts/fs-elliot-pro/FS Elliot Pro-Regular-webfont.svg#fs_elliot_proregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_probold';
    src: url("../../../fonts/fs-elliot-pro/fs_elliot_pro-bold-webfont.woff2") format("woff2"), url("../../../fonts/fs-elliot-pro/fs_elliot_pro-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_prolight';
    src: url("../../../fonts/fs-elliot-pro/fs_elliot_pro-light-webfont.woff2") format("woff2"), url("../../../fonts/fs-elliot-pro/fs_elliot_pro-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'fs_elliot_proregular',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
    margin: 0 !important;
}

a {
    font-size: inherit;
}

button, input[type=button], input[type=reset], input[type=submit], input[type=number], input[type=text] {
    display: block;
    margin: 10px auto 20px;
    white-space: normal !important;
}

input[type=reset], input[type=number], input[type=text] {
    border: 0;
    padding: 10px 5px;
    color: #000;
    text-align: center;
}

input[type="number"], input[type="text"] textarea, select {
    -webkit-appearance: none;
    border-radius: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    width: auto;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

html, body {
    height: 100%;
}

body {
    background: -moz-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(196, 237, 245, 1)), color-stop(94%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(183deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4edf5', endColorstr='#ffffff',GradientType=0 );
    background-repeat: no-repeat;
}

.container {
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    vertical-align: middle;
    width: 100%;
}

.container .row {
    display: table-cell;
    vertical-align: middle;
    width: 600px;
    margin: 0 auto;
}

.iconic-wifi-wrapper {
    margin: 0 auto;
    padding: 20px 50px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-family: 'fs_elliot_probold',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
}

.icon-size{
    width: auto;
}

/*Block
-------------------------------------------------*/
.block {
    text-align: center;
    padding: 10px 0;
}

.block h4, .block h5, .block ul {
    color: #333333;
    line-height: 1.3;
}

.block h4 {
    font-family: 'fs_elliot_prolight',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
    font-size: 24px;
}

.block h5 {
    font-size: 20px;
}

.block span {
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

.disclaimer a, footer a {
    color: #1769b3;
    font-size: inherit;
    border-bottom: 1px solid #1769b3;
}

.disclaimer a:hover, footer a:hover {
    font-weight: bold;
    text-decoration: none;
}

.block-icon, .block-content {
    margin-bottom: 30px;
}

.block-content h2 {
    font-size: 24px;
    line-height: 1.5;
}

.add-padding {
    padding: 0 50px;
}

/*Button
-------------------------------------------------*/
.blue-btn {
    background: #1769b3;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'fs_elliot_probold',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
    font-size: 18px;
    margin: 20px auto;
    padding: 12px 20px;
    text-transform: capitalize;
    width: 80%;
}

/*Ads Page
-------------------------------------------------*/
.iconic-ad-image-wrapper {
    background: #000 url(http://unifiapps.yondu.com/images/portal/51/iconic-ads-image.jpg) no-repeat center;
    background-size: 100% 100%;
    height: 300px;
}

.iconic-heading {
    line-height: 1.3;
}

#iconic-ads-wrapper .block:nth-child(n+2) {
    padding: 10px;
}

.success-notification {
    background: #7ebe36;
}

.success-notification h5 {
    color: #fff !important;
    font-family: 'fs_elliot_probold',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
    font-size: 18px;
    padding: 10px;
}

.iconic-app-badge {
    margin: 0 5px 10px;
    width: 40%;
}

/*Terms and Condition
-------------------------------------------------*/
#iconic-tac {
    background: -moz-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(196, 237, 245, 1)), color-stop(94%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(267deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(183deg, rgba(196, 237, 245, 1) 0%, rgba(255, 255, 255, 1) 94%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4edf5', endColorstr='#ffffff',GradientType=0 );
    background-repeat: no-repeat;
}

#iconic-tac .block {
    text-align: left !important;
}

#iconic-tac p, #iconic-tac h1, #iconic-tac .blue-btn {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
}

#iconic-tac h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
}

#iconic-tac .blue-btn {
    font-weight: 700;
}

#iconic-tac p {
    font-size: 14px;
}

/*Footer
-------------------------------------------------*/

footer {
    margin-top: 20px;
    text-align: center;
}

/*Media Queries
-------------------------------------------------*/
@media only screen and (max-width: 40em) {
    p {
        font-size: 14px;
    }

    h1, h2, h3, h4, h5 {
        line-height: 1.2;
    }

    img {
        width: 100%;
    }

    .iconic-wifi-wrapper {
        padding: 0;
    }

    .block {
        padding: 10px 0;
    }

    .blue-btn {
        font-size: 14px;
        padding: 15px;
        width: 90%;
        margin: 10px auto;
    }

    .add-padding {
        padding: 0;
    }

    .disclaimer {
        font-size: 12px;
    }

    #iconic-ads-wrapper {
        padding: 0;
    }

    .iconic-ad-image-wrapper {
        max-height: 185px;
    }

    .iconic-heading {
        font-size: 28px;
    }

    #iconic-ads-wrapper .block:first-child {
        padding-top: 0;
    }

    .success-notification h5 {
        font-size: 14px;
    }

    #iconic-tac h1 {
        font-size: 24px;
        margin-top: 20px !important;
    }
}

@media only screen and (max-width: 40em) and (orientation: landscape) {
    img {
        width: 75%;
    }

    .iconic-wifi-wrapper {
        padding: 0 60px;
    }

    .iconic-ad-image-wrapper {
        max-height: 300px;
    }

    #iconic-ads-wrapper .block:nth-child(n+2) {
        padding: 10px 20px;
    }
}

/*For iphone 6 and 6 plus
-------------------------------------------------*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .iconic-wifi-wrapper {
        padding: 0 20px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    img {
        width: 60%;
    }
}