button {
  margin: 20px 0;
  white-space: normal !important;
}

.radio-wrapper input[type=radio], .radio-wrapper input[type=checkbox] {
  -webkit-appearance: radio !important;
  float: left;
  margin-right: 5px;
}

.radio-wrapper label {
  font-size: 16px;
}

.group-btn {
  margin: 5px 0 !important;
}

.link-text, .link-text:hover, .link-text:focus {
  color: #fff;
}

.modal-body, .modal-footer, .modal-header {
  padding: 15px 30px;
}

.default-wrapper, .modal-footer, .modal-title, .small-modal-body-style {
  text-align: center;
}

.modal-content, .radio-wrapper {
  position: relative;
}

* {
  font-family: 'Calibri',-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  background: #1e5799;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  margin: 0 !important;
}

.strong {
  font-weight: 800;
}

.link-text {
  text-decoration: underline;
}

.link-text-colored {
  color: #1b439c;
  text-decoration: underline;
}

.btn, .btn:hover {
  text-decoration: none;
}

#captive-portal-wrapper {
  margin-top: 30px;
}

#captive-portal-button-wrapper, .disclaimer {
  margin-top: 25px;
}

#captive-portal-button-wrapper h4 {
  padding: 0 100px;
  font-size: 14px !important;
}

#captive-portal-button-wrapper .link-text {
  font-size: 14px !important;
}

.globe-footer-logo {
  margin-top: 30px;
  width: 50%;
}

#call-to-action-btn-wrapper {
  margin: 30px 0;
}

#captive-portal-image img {
  width: 100%;
  text-align: center;
}

#captive-portal-content {
  text-align: center;
}

#captive-portal-content h1 {
  color: #fff;
  font-size: 42px;
  line-height: 1;
  margin: 10px 0 5px !important;
}

#captive-portal-content h4 {
  color: #fff;
  font-weight: normal;
}

#captive-portal-welcome-message h4 {
  font-size: 22px;
}

#captive-portal-welcome-message h4 > span {
  font-size: 22px;
  font-weight: bold;
}

#captive-portal-welcome-message img {
  margin-bottom: 20px;
  width: auto;
}

.default-disclaimer {
  margin-bottom: 25px;
}

.default-disclaimer a, .default-disclaimer h4 {
  font-size: 14px;
}

.modal-header {
  border-bottom: 1px solid #ECECEC;
}

.close span {
  font-size: 30px;
  font-weight: 700;
}

.modal-title {
  font-size: 28px;
}

.modal-footer {
  border-top: 1px solid #ECECEC;
}

.small-modal-style {
  border-bottom: 0 !important;
  overflow: hidden;
  padding: 0 20px;
}

.small-modal-body-style h2 {
  font-size: 24px;
}

.default-wrapper {
  background: #fff;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.8);
  margin: 50px 0;
  padding: 60px 60px 30px;
}

#default-to-action-btn-wrapper {
  margin: 20px 0;
}

.captive-portal-heading {
  font-weight: 600;
}

.default-content {
  margin-top: 30px;
  padding: 0 50px;
}

#verification-phone-number-wrapper {
  margin-bottom: 30px;
}

#verification-phone-number-wrapper h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}

#verification-phone-number-wrapper a {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

#survey-wrapper h1, .btn, .error-notification h5 {
  font-weight: 600;
  text-transform: uppercase;
}

#returning-user-wrapper h1 {
  font-size: 24px;
  font-weight: normal;
}

#returning-user-wrapper h1 > span {
  display: block;
  font-size: 36px;
}

#returning-user-wrapper > .disclaimer {
  margin-bottom: 25px;
}

#survey-wrapper h5 {
  font-size: 18px;
  padding: 20px 0;
}

#form-select-wrapper {
  margin-bottom: 30px;
}

.notification {
  border-bottom: 1px dashed #ECE9E9;
  margin: 10px 0;
}

.notification p {
  color: #A7A7A7;
  margin: 0;
  padding: 10px 0;
}

#survey-form-container {
  margin-bottom: 50px;
}

.radio-wrapper {
  width: 200px;
  margin: 0 auto !important;
  text-align: left;
}

/*.radio-wrapper label, .radio-wrapper-select label {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-left: 32px;
  position: relative;
}

.radio-wrapper input[type=radio], .radio-wrapper-select input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radio-wrapper input[type=radio] ~ .fake-box, .radio-wrapper-select input[type=radio] ~ .fake-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.radio-wrapper input[type=radio] ~ .fake-box:after, .radio-wrapper-select input[type=radio] ~ .fake-box:after {
  background: #0057BB;
  border-radius: 50%;
  content: '';
  font-size: 16px;
  height: 12px;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;
  position: absolute;
  text-align: center;
  top: 50%;
  visibility: hidden;
  width: 12px;
}

.radio-wrapper input[type=radio]:checked ~ .fake-box:after, .radio-wrapper-select input[type=radio]:checked ~ .fake-box:after {
  visibility: visible;
}

.radio-wrapper input[type=radio]:focus ~ .fake-box, .radio-wrapper-select input[type=radio]:focus ~ .fake-box {
  box-shadow: 0 0 8px #ccc;
}

.radio-wrapper input[type=radio]:disabled ~ .fake-box, .radio-wrapper input[type=radio]:disabled ~ .radio-text, .radio-wrapper-select input[type=radio]:disabled ~ .fake-box, .radio-wrapper-select input[type=radio]:disabled ~ .radio-text {
  opacity: .5;
  cursor: default;
}*/

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 10px 50px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  white-space: normal !important;
}

.btn:hover {
  color: inherit;
}

.yellow-btn {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWQwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff700), color-stop(100%, #f9d000));
  background: -webkit-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: -o-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: -ms-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: linear-gradient(to bottom, #fff700 0, #f9d000 100%);
  border: 1px solid #F7E53C;
  color: #241c02;
  margin: 20px 0;
}

.yellow-btn:active {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWQwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff700), color-stop(100%, #f9d000));
  background: -webkit-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: -o-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: -ms-linear-gradient(top, #fff700 0, #f9d000 100%);
  background: linear-gradient(to bottom, #fff700 0, #f9d000 100%);
  color: #000;
}

.primary-btn, .secondary-btn {
  margin-bottom: 10px;
  width: 100%;
}

.yellow-btn:hover {
  color: #000;
}

.primary-btn {
  background: #0057bb;
  color: #fff;
}

.primary-btn:hover {
  background: #00418C;
  color: #fff;
}

.secondary-btn {
  background: #00a7d4;
  color: #fff;
}

.secondary-btn:hover {
  background: #0182A5;
  color: #fff;
}

.modal-footer .btn + .btn {
  margin: 0 !important;
}

button, input, textarea {
  -webkit-appearance: none;
}

.default-wrapper label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.default-wrapper input[type=tel] {
  border: 1px solid #6F6E6E;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

.error-notification {
  background: #FF5959;
  color: #fff;
  margin: 10px 0;
  padding: 8px 0;
}

.error-notification h5 {
  font-size: 15px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  20%,40%,60%,80%,from,to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  20%,40%,60%,80%,from,to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*Small Devices Default*/

@media only screen and (max-width: 40em) {
  button {
    padding: 12px 5px !important;
  }

  #captive-portal-wrapper {
    padding: 0 20px;
  }

  #captive-portal-content {
    margin-bottom: 20px;
    text-align: center;
  }

  #captive-portal-content h1 {
    font-size: 26px;
  }

  #captive-portal-content a {
    font-size: 12px;
  }

  #captive-portal-button-wrapper {
    margin: 10px 0;
  }

  #captive-portal-content-small {
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px !important;
    text-align: center;
  }

  #captive-portal-content-small img {
    width: 60%;
    margin: 20px 0;
  }

  #captive-portal-content-small h1 {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 5px !important;
  }

  #captive-portal-content-small h1 > span {
    display: block;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    margin: 10px 0;
  }

  #captive-portal-content-small h4, #captive-portal-content-small span, #captive-portal-content h4, #captive-portal-content a {
    font-size: 11px;
  }

  #captive-portal-button-wrapper h4 {
    padding: 0 50px;
  }

  #captive-portal-button-wrapper h4, #captive-portal-button-wrapper .link-text {
    font-size: 10px !important;
  }

  .yellow-btn {
    margin: 5px 0;
  }

  footer {
    margin-bottom: 10px;
    text-align: center;
  }

  .modal-title {
    font-size: 18px;
    font-weight: 700;
  }

  .modal-header .close {
    position: relative;
    bottom: 10px;
  }

  .small-modal-style .close {
    top: 10px;
  }

  .default-wrapper {
    margin: 15px 0;
    padding: 50px 20px;
  }

  .default-content {
    padding: 0;
  }

  .default-wrapper h1 {
    font-size: 26px;
    line-height: 1.3;
  }

  .captive-portal-heading {
    font-size: 20px;
  }

  .btn, .captive-portal-sub-heading p {
    font-size: 14px;
  }

  input[type=submit] {
    padding: 15px 0;
  }

  .primary-btn:after, .secondary-btn:after {
    content: "";
  }
}

/*Small Devices Landscape*/
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .visibile-table-portrait, .visible-xs {
    display: block !important;
  }

  #captive-portal-content-small {
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px !important;
    text-align: center;
  }

  #captive-portal-content-small h1 span {
    display: block;
    font-size: 30px;
  }

  #captive-portal-welcome-message {
    display: none;
  }

  #captive-portal-content-small h4, #captive-portal-content-small span, #captive-portal-content h4, #captive-portal-content a {
    font-size: 12px;
  }

  #captive-portal-content-small img {
    width: auto;
    max-width: 100%;
  }
}

/*Iphone 6 Landscape*/

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #captive-portal-image {
    text-align: center;
  }

  #captive-portal-image img {
    margin-top: 20px;
    width: 80%;
  }

  #captive-portal-content-small {
    color: #fff;
    text-align: center;
  }

  #captive-portal-content-small img {
    width: auto !important;
    margin-bottom: 30px;
  }

  #captive-portal-content-small h1 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px !important;
  }

  #captive-portal-content-small h1 > span {
    display: block;
    font-size: 42px;
  }

  #captive-portal-button-wrapper, footer {
    text-align: center;
    margin-bottom: 20px;
  }
}

/*Iphone 6+ Landscape*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  #captive-portal-content-small {
    color: #fff;
    text-align: center;
  }

  #captive-portal-content-small img {
    width: auto;
    margin-bottom: 30px;
  }

  #captive-portal-content-small h1 {
    font-size: 24px;
  }

  #captive-portal-content-small h1 > span {
    display: block;
    font-size: 42px;
  }

  #captive-portal-button-wrapper, footer {
    text-align: center;
    margin-bottom: 20px;
  }
}

/*Tablet-Ipad Portrait*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .visibile-table-portrait, .visible-xs {
    display: block !important;
  }

  #captive-portal-content-small {
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px !important;
    text-align: center;
  }

  #captive-portal-content-small h1 span {
    display: block;
    font-size: 30px;
  }

  #captive-portal-welcome-message {
    display: none;
  }

  #captive-portal-content-small img {
    margin: 20px 0;
    width: 50%;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  #captive-portal-content h1 > span {
    font-size: 32px;
  }
}

@media only screen and (min-width: 40.063em) and (orientation: portrait) {
  #captive-portal-content, footer {
    text-align: center;
  }

  #captive-portal-button-wrapper {
    margin-top: 10px;
  }

  footer {
    margin-top: 20px;
  }
}

/*Medium Up - min-width 641px*/
@media only screen and (min-width: 40.063em) and (max-width: 1000px) and (orientation: landscape) {
  #captive-portal-image img {
    width: 80%;
  }

  #captive-portal-image {
    text-align: center;
  }

  #captive-portal-content-small img {
    margin: 20px 0;
    width: auto;
  }

  #captive-portal-content-small {
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px !important;
    text-align: center;
  }

  #captive-portal-content-small h1 span {
    display: block;
    font-size: 30px;
  }

  .globe-footer-logo {
    margin: 30px 0;
    width: 30%;
  }

  #captive-portal-welcome-message {
    display: none;
  }

  #captive-portal-content-small {
    display: block !important;
  }
}

/*Large Up - min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  #captive-portal-wrapper {
    display: table;
    table-layout: fixed;
  }

  .display-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }

  .modal-dialog {
    margin-top: 100px;
  }

  .modal-title {
    font-size: 28px;
  }
}

#captive-portal-welcome-message p {
  color: #fff;
  font-size: 16px;
}

#captive-portal-content-small p, #captive-portal-content-small p > strong {
  color: #fff;
  font-size: 11px;
  margin: 5px 0;
}

@media (min-width: 768px) and (orientation: landscape) {
  .col-sm-offset-2 {
    margin-left: 16.66667% !important;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .col-sm-offset-2 {
    margin-left: 0px !important;
  }
}
#captive-portal-content h1 {
  margin-bottom: 20px !important;
}

#captive-portal-welcome-message h4 > span {
  font-size: 26px;
}

@media only screen and (max-width: 40em) {
  #captive-portal-content-small img {
    margin: 10px 0;
  }

  #captive-portal-content-small span, #captive-portal-content h4, #captive-portal-content a {
    font-size: 14px;
  }

  #captive-portal-content-small h4 {
    font-size: 16px;
  }

  #captive-portal-content-small h4 > span {
    font-size: 18px;
  }
}