.kfc-orb{
	padding-top:50px;
}

#captive-portal-content-small > .kfc-logo{
	width: 30%;
}

#captive-portal-content h1{
	line-height: 1;
}

@media only screen and (max-width: 40em){
	.kfc-orb{
		padding:0;
	}

	#captive-portal-content h4:last-child{
		font-size: 10px;
	}

	#captive-portal-content-small h1{
		line-height: 1;
		margin-bottom: 5px!important;
	}

	#captive-portal-content-small h4, #captive-portal-content-small span{
		font-size: 11px;
	}

	#captive-portal-content-small span, #captive-portal-button-wrapper a{
		font-weight: bold;
	}

}

@media only screen and (max-width: 40em) and (orientation: landscape){
	#captive-portal-content-small > .kfc-logo{
	width: auto;
	}

	#captive-portal-content-small h4, #captive-portal-content-small span, #captive-portal-content h4:last-child{
		font-size:12px;
	}

}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	#captive-portal-content-small h1{
		line-height: 1;
		font-weight: normal;
		margin-bottom: 5px!important;
	}

	#captive-portal-content-small h4{
		font-weight: normal;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
	#captive-portal-content-small > .kfc-logo{
	width: auto;
	}

	#captive-portal-content-small h1{
		line-height: 1;
		font-weight: normal;
		margin-bottom: 5px!important;
	}

	#captive-portal-content-small h4{
		font-weight: normal;
	}
}