/*---------------------------
	General Style
-----------------------------*/

* {
  font-family: "FS Elliot Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

body {
	background: #0044B7;	
  /*background: url(http://unifiapps.yondu.com/images/portal/9/splash.jpg) no-repeat top center fixed;*/
  min-height: 100%;
}

/*---------------------------
	General Typography Style
-----------------------------*/

h1, h2, h3, h4, h5 {
  margin: 0 !important;
}

.strong {
  font-weight: 800;
}

.link-text {
  color: #fff;
  text-decoration: underline;
  font-size:14px;
}
.link-text:focus, .link-text:hover{
	  color: #fff;
}

.link-text:hover {
  color: #fff;
}

.link-text-colored {
  color: #1b439c;
  text-decoration: underline;
  font-size:12px;
}

/*---------------------------
	Captive Portal CSS
-----------------------------*/

#captive-portal-wrapper {
  margin-top: 30px;
}

#captive-portal-button-wrapper {
  margin-top: 25px;
}

#call-to-action-btn-wrapper {
  margin: 30px 0;
}

#call-to-action-btn-wrapper p{
      font-size: 10px;
}

#captive-portal-image img {
  width: 100%;
}

#captive-portal-content h1 {
  color: #fff;
  font-size: 46px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 10px !important;
}
#captive-portal-content h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 10px !important;
}

#captive-portal-content h1 > span {
  display: block;
  font-size: 48px;
}

#captive-portal-content h4 {
  font-size: 14px;
  color: #fff;
}

.disclaimer {
  margin-top: 25px;
}
.disclaimer p{
  font-size:12px;
}

/*---------------------------
	Modal CSS
-----------------------------*/
.modal-header {
  border-bottom: 1px solid #ECECEC;
  padding: 15px 30px;
}

.close span {
  font-size: 30px;
  font-weight: bold;
}

.ads-close{
  color: #fff;
  opacity: 0.6;
}

  .ads-close:hover{
    color:#fff;
    opacity: 1;
  }

.modal-title {
  font-size: 28px;
  text-align: center;
}

.modal-body {
  padding: 15px 30px;
}

.modal-footer {
  border-top: 1px solid #ECECEC;
  padding: 15px 30px;
  text-align: center;
}

.modal-content {
  position: relative;
}

.small-modal-style {
  border-bottom: 0 !important;
  overflow: hidden;
  padding: 0 20px;
}

.small-modal-body-style {
  text-align: center;
}

.small-modal-body-style h2 {
  font-size: 24px;
}

/*---------------------------
	Default Page
-----------------------------*/
#globe-background-img-body {
		height: auto;
		min-height: 100%;
		position: relative;
		background: url(http://unifiapps.yondu.com/images/portal/9/splash.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
			 -moz-background-size: cover;
				 -o-background-size: cover;
						background-size: cover;
		
}

.default-wrapper {
  background: #fff;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.8);
  margin: 50px 0;
  padding: 60px 60px 30px;
  text-align: center;
}

#default-to-action-btn-wrapper {
  margin: 20px 0;
}

.captive-portal-heading {
  font-weight: 600;
  text-transform: uppercase;
}
.top-logo{
		text-align: center;
		width: 100%;
}

.top-logo > img{
		margin-top: 50px;
		max-width: 300px;
		width: 100%;
}
.globe-continue-logo {
	width: 390px;
	margin: 0 auto;
}

/*---------------------------
	Verification Code
-----------------------------*/

#verification-phone-number-wrapper {
  margin-bottom: 30px;
}

#verification-phone-number-wrapper h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}

#verification-phone-number-wrapper a {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

/*---------------------------
	Serendra Ads
-----------------------------*/
#ads-wrapper {
  background: #fff url(http://198.61.138.183/cadbury/images/portal/3/i-love-serendra-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border: none;
  color: #fff;
}

#ads-wrapper > .modal-footer {
  border-top: 0 !important;
  padding-bottom: 50px;
}

#ads-image-logo-wrapper {
  margin: 20px 0;
  text-align: center;
}

#ads-wrapper-content h3 {
  display: inline-block;
  font-weight: 600;
  line-height: 0.5;
  position: relative;
  text-transform: uppercase;
}

#ads-wrapper-content h3:before,
#ads-wrapper-content h3:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #fff;
  top: 0;
  width: 150px;
}

#ads-wrapper-content h3:before {
  right: 100%;
  margin-right: 15px;
}

#ads-wrapper-content h3:after {
  left: 100%;
  margin-left: 15px;
}

#ads-wrapper-content-image {
  margin: 15px auto;
}

#ads-wrapper-content-image img {
  width: 70%;
}

#ads-wrapper-button img {
  width: 30%;
}

/*---------------------------
	Survey
-----------------------------*/
#survey-wrapper h1 {
  font-weight: 600;
  letter-spacing: 1;
  text-transform: uppercase;
}

#survey-wrapper h5 {
  font-size: 18px;
  padding: 20px 0;
}

#form-select-wrapper {
  margin-bottom: 30px;
}

.notification {
  border-bottom: 1px dashed #ECE9E9;
  margin: 10px 0;
}

.notification p {
  color: #A7A7A7;
  margin: 0;
  padding: 10px 0;
}

#survey-form-container {
  margin-bottom: 50px;
}

.radio-wrapper {
  position: relative;
  width: 230px;
  margin: 0 auto !important;
  text-align: left;
}

.radio-wrapper label, .radio-wrapper-select label {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-left: 32px;
  position: relative;
  font-size: 13px;
}

.radio-wrapper input[type="radio"], .radio-wrapper-select input[type="radio"],  .radio-wrapper-select input[type="checkbox"]{
  border: 0;
  //clip: rect(0 0 0 0);
  //height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  //width: 1px;
}

.radio-wrapper input[type="radio"] ~ .fake-box, .radio-wrapper-select input[type="radio"] ~ .fake-box {
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.radio-wrapper input[type="radio"] ~ .fake-box:after,
.radio-wrapper-select input[type="radio"] ~ .fake-box:after {
  background: #0057BB;
  border-radius: 50%;
  content: '';
  font-size: 16px;
  height: 12px;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;
  position: absolute;
  text-align: center;
  top: 50%;
  visibility: hidden;
  width: 12px;
}

.radio-wrapper input[type="radio"]:checked ~ .fake-box:after,
.radio-wrapper-select input[type="radio"]:checked ~ .fake-box:after {
  visibility: visible;
}

.radio-wrapper input[type="radio"]:focus ~ .fake-box,
.radio-wrapper-select input[type="radio"]:focus ~ .fake-box {
  box-shadow: 0 0 8px #ccc;
}

.radio-wrapper input[type="radio"]:disabled ~ .radio-text,
.radio-wrapper input[type="radio"]:disabled ~ .fake-box,
.radio-wrapper-select input[type="radio"]:disabled ~ .radio-text,
.radio-wrapper-select input[type="radio"]:disabled ~ .fake-box {
  opacity: .5;
  cursor: default;
}

/*---------------------------
	Returning User
-----------------------------*/
#returning-user-wrapper h1 {
  font-size: 24px;
}

#returning-user-wrapper h1 > span {
  display: block;
  font-size: 36px;
}

#returning-user-wrapper > .disclaimer {
  margin-bottom: 25px;
}

/*---------------------------
	Form
-----------------------------*/
/*
input, textarea, button {
  -webkit-appearance: none;
}*/

.default-wrapper label {
  //display: block;
  margin-bottom: 20px;
  text-align: left;
}

.default-wrapper input[type="tel"] {
  border: 1px solid #6F6E6E;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

/*Error*/
.error-notification {
  background: #FF5959;
  color: #fff;
  margin-bottom: 20px;
  padding: 8px 0;
}

.error-notification h5 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

/*---------------------------
	Button
-----------------------------*/
.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 50px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.s-btn{

  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 50px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

}
.s-btn:hover {
  color: #fff;
  text-decoration: none;
}
.yellow-btn {
  background: #ffc000;
  border: 1px solid #f5b902;
  color: #241c02;
  margin-bottom:20px;
}

.yellow-btn:hover {
  background: #f5b902;
  color: #000;
}

.primary-btn {
  background: #00A7D4;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

.secondary-btn {
  background: #0057BB;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

.primary-btn:after, .secondary-btn:after {
  content: "\f144";
  float: left;
  font-family: "FontAwesome";
  font-weight: normal;
}

.btn-no-icon:after {
  content: "";
}

.input-submit-btn-wrapper {
  position: relative;
}

.input-submit-btn-wrapper:after {
  bottom: 0;
  color: #fff;
  content: "\f144";
  font-family: "FontAwesome";
  left: 30px;
  position: absolute;
  top: -2px;
}

.facebook-btn {
  background: #415E9B;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

.instagram-btn {
  background: #125688;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

.modal-footer .btn + .btn {
  margin: 0 !important;
}

.serendra-primary-btn{
	background: #00A7D4;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

/*---------------------------
	Animation
-----------------------------*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*---------------------------
	Fonts
-----------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}


.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-play-circle:before {
  content: "\f144";
}

/*---------------------------
	Mediaqueries
-----------------------------*/
@media only screen and (max-width: 40em) {
  /* Captive Portal */
  #captive-portal-content {
    margin: 20px 0;
    text-align: center;
  }

  #captive-portal-content h1 {
    font-size: 26px;
  }

  #captive-portal-button-wrapper {
    margin: 10px 0;
  }

  #captive-portal-content-small {
    color: #fff;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px !important;
    text-align: center;
  }

  #captive-portal-content-small h1 > span {
    display: block;
    font-size: 30px;
  }

  footer {
    text-align: center;
  }

  /*Modal*/
  .modal-title {
    font-size: 18px;
    font-weight: bold;
  }

  .modal-header .close {
    position: relative;
    bottom: 10px;
  }

  .small-modal-style .close {
    top: 10px;
  }

  /* Default Wrapper */
  .default-wrapper {
    margin: 15px 0;
    padding: 30px 15px;
  }

  .default-wrapper h1 {
    font-size: 24px;
  }

  .captive-portal-heading {
    font-size: 20px;
  }

  .captive-portal-sub-heading p {
    font-size: 14px;
  }

  /* ads */
  #ads-wrapper-content-image img {
    width: 100%;
  }

  #ads-wrapper-content h3:before,
  #ads-wrapper-content h3:after {
    width: 80px;
  }

  /*Survey*/
  #form-select-wrapper span {
    font-size: 15px;
  }

  /*Returning User*/
  #returning-user-wrapper h1 {
    font-size: 16px;
  }

  #returning-user-wrapper h1 > span {
    font-size: 24px;
  }

  /* Button */
  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }
  
  
}

@media only screen and (max-width: 40em) and (orientation: portrait) {
  .input-submit-btn-wrapper:after {
    content: "";
  }
}

@media only screen and (max-width: 40em) and (orientation: landscape) {}

/*--------------------------------------------------------------------*/

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {}

@media only screen and (min-width: 40.063em) and (orientation: portrait) {
  /* Captive Portal */
  #captive-portal-content {
    text-align: center;
  }

  #captive-portal-button-wrapper {
    margin-top: 10px;
  }

  footer {
    margin-top: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 40.063em) and (orientation: landscape) {
  /* Captive Portal */
  #captive-portal-wrapper {
    display: table;
    table-layout: fixed;
    margin-top: 50px;
  }

  .display-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}

/*--------------------------------------------------------------------*/
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
  /* Captive Portal */
  #captive-portal-wrapper {
    display: table;
    table-layout: fixed;
  }

  .display-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }

  /*Modal*/
  .modal-dialog {
    margin-top: 100px;
  }

  .modal-title {
    font-size: 28px;
  }
}

.powered-container img{
	
	margin-right: 35px;
}
#captive-portal-welcome-message{
	color:#fff;
}