/*
Project Name: Serendra Wifi
Project Version: 1
Owner: Yondu
Website: http://yondu.com
front-end Developer: UXD-Team
										 Jose D. Santos IV,
										 Reynier Carlo Nebres,
*/




/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");*/
@import url("../../fonts.css");


/*JoJo*/
/*==========  Modal Style Custom New  ==========*/


.modal-wifi > .modal-dialog > .globe-modal-content  {
	border-radius: 5px;
}

.modal-wifi > .modal-dialog > .globe-modal-content > .modal-header {
	background-color: #fff;
	background-color: transparent;
	border-bottom: 0;
	position: relative;
}


.modal-wifi > .modal-dialog > .globe-modal-content > .modal-header > .close {
	outline: 0;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
}

.modal-wifi > .modal-dialog > .globe-modal-content > .modal-header > .close > span{
	color: #7B7B7B;
	font-size: 28px;
}

.modal-wifi > .modal-dialog > .globe-modal-content > .modal-header > h4{
	color: #000;
	margin-top: 20px;
	font-weight: 400!important;
	text-align: center;
}

.modal-wifi > .modal-dialog > .globe-modal-content > .modal-body{
	text-align: left;
}

.modal-wifi > .modal-dialog > .globe-modal-content > .modal-body.text-overflow{
	max-height: 310px;
	overflow: auto;
}


.modal-wifi > .modal-dialog > .globe-modal-content > .modal-body > h3{
	text-align: center;
	margin-bottom: 20px;
}



.modal-wifi > .modal-dialog > .globe-modal-content > .modal-footer > .modal-btn-logo{
	margin-top: 20px;
}

.modal-wifi.i-love-serendra > .modal-dialog > .globe-modal-content > .modal-header > .close {
	background: rgba(255, 255, 255, 0.5);
}

.modal-wifi.i-love-serendra > .modal-dialog > .globe-modal-content > .modal-header > .close > span{
	text-shadow: none;
	color: #585858;
}

.modal-wifi.i-love-serendra > .modal-dialog > .globe-modal-content{
	background: url(../img/i-love-serendra-bg-sm.jpg) no-repeat center center; 
}

.modal-wifi.i-love-serendra > .modal-dialog > .globe-modal-content > .modal-body{
	text-align: center; 
}

.modal-wifi.i-love-serendra > .modal-dialog{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.modal-wifi > .modal-dialog.modal-sm{
	margin-top: 10px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width : 768px) {
	.modal-wifi > .modal-dialog.modal-sm{
		margin-top: 70px;
	}
 
}



.modal-wifi.i-love-serendra > .modal-dialog{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.text-bg-line > p {
	display: inline-block;
	padding: 0 15px;
	position: relative;
	color: #fff;
}

.text-bg-line > p > b{
	color: #fff;
}

.text-bg-line > p:before,
.text-bg-line > p:after {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
		top: 50%;
	width: 400%;
}
.text-bg-line > p:before {
	right: 100%;
}
.text-bg-line > p:after {
	left: 100%;
}
.text-bg-line{
	overflow: hidden;
	text-align: center;
}

.serendra-sm-btn-group  {
	margin-bottom: 50px;
}

.serendra-sm-btn-group > a.fb-btn {
	line-height: 28px;
	height: 47px;
}
.serendra-sm-btn-group > a.ig-btn {
	line-height: 32px;
	height: 47px;
}

.serendra-sm-btn-group > a > img {
	width: 100px;
}

.modal-wifi.i-love-serendra > .modal-dialog > .globe-modal-content > .modal-body > .img-serendra-logo {
	max-width: 120px;
	margin-bottom: 30px;
}

.modal-wifi.i-love-serendra > .modal-dialog > .globe-modal-content > .modal-body > .img-i-love-serendra {
	max-width: 220px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.fb-btn {
	background: #30335e;
	border: 0;
	margin-bottom: 10px;
}

.fb-btn:hover,
.fb-btn:focus{
	background-color: #282b4f;
}

.ig-btn {
	background-color: #125688;
	border: 0;
}

.ig-btn:hover,
.ig-btn:focus{
	background-color: #104c78;
}


/*Diane Buttons*/
.s-btn{
		width: 100%;
}
.serendra-primary-btn{
		color: #fff;
		background-color: #BB3E26;
		border-radius:3px;
		border: none;
		padding: 10px 50px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 10px;
		-webkit-transition:all .2s ease;
			 -moz-transition:all .2s ease;
				 -o-transition:all .2s ease;
						transition:all .2s ease;
}

.serendra-secondary-btn{
		color: #fff;
		background-color: #741E11;
		border-radius:3px;
		border: none;
		padding: 10px 50px;
		font-weight: 600;
		margin-bottom: 10px;
		text-transform: uppercase;
		-webkit-transition:all .2s ease;
			 -moz-transition:all .2s ease;
				 -o-transition:all .2s ease;
						transition:all .2s ease;
}

.serendra-primary-btn[disabled]{
		background: #b3b3b3;
}

/*captive portal*/
#captive-portal-wrapper{
		margin:100px 0 0;
}

#captive-portal-wrapper h2,#captive-portal-wrapper p{
		color: #fff;
}

#captive-portal-wrapper b, #captive-portal-wrapper strong{
    font-size: 43px;
    color:#fff;
}

#captive-portal-content{
		text-align: left!important;
		margin-top:30px;
}

#captive-portal-content .visible-lg p{
		font-size: 18px;
}

#captive-portal-content .visible-lg h2{
		color: #fff;
}

/*Survey*/
/*----------------------------------------*/
#survey-container h3{
		font-size: 36px;
		text-transform: uppercase;
}

.notification, .title-que{
		margin-bottom: 20px;
}
.notification p{
		color: #787878;
		font-size: 16px;
}

.title-que{
		font-size: 18px;
}

.radio-wrapper label, .radio-wrapper-select label{
		font-size: 16px!important;
		margin-bottom: 10px;
}

#radio-wrapper-container{
		max-width: 300px;
		margin: 0 auto;
}

.radio-wrapper-select{
		position: relative;
	 /* width: 300px;*/
		margin: 0 auto!important;
		text-align: left;
}

/** General **/

* {
		font-family: "FS Elliot Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
		color: #000;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

html {
		height: 100%;
		min-height: 100%;
		position: relative;
}

body {
		background-color: #003f23;
}

body, #main-wrapper {
		height: inherit;
}

p a{
	color:white !important; 
	text-decoration:underline;
}

.btn-wifi {
		color: #fff;
		background-color: #006136;
		border-color: none;
		padding: 10px 50px;
		font-weight: 600;
		-webkit-transition:all .2s ease;
			 -moz-transition:all .2s ease;
				 -o-transition:all .2s ease;
						transition:all .2s ease;
}

.btn-wifi:hover,
.btn-wifi:focus{
		border-color: none;
		color: #fff;
}

.btn-wifi:active,
.btn-wifi:focus{
		-webkit-transform: translate(0px,5px);
			 -moz-transform: translate(0px,5px);
				 -o-transform: translate(0px,5px);
						transform: translate(0px,5px);
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			 -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
				 -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
						box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}




#background-imgv1-body {
		height: auto;
		min-height: 100%;
		position: relative;
		background: url(http://unifiapps.yondu.com/images/portal/5/splash.png) no-repeat top center fixed;
		-webkit-background-size: cover;
			 -moz-background-size: cover;
				 -o-background-size: cover;
						background-size: cover;
}



#main-wrapper h2,
#main-wrapper h3,
#main-wrapper h4,
#main-wrapper h5{
		font-weight: 700;
}
#main-wrapper{
		padding-top: 20px;
		padding-bottom: 20px;
}

.welcome-text {
		text-align: center;
		margin-top: 100px;
}

.hide-content {
		opacity: 0;
		background-color: transparent;
		color: transparent;
}

#continue-holder > div > span{
		text-align: center;
		color: #fff;
		background-color: rgba(0,0,0,0.4);
		padding: 15px;
		border-radius: 3px;
		font-size: 24px;
		text-shadow: 0px 1px 2px rgba(0,0, 0, .5);
		display: inline-block;
}

.continue-logo {
		margin: 0 auto;
		max-width: 400px;
		margin-top: 100px;
		max-height: 200px;
}
#continue-btn-holder {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 40px;
		text-align: center;
}

.height-adj {
		margin-top: 164px;
}

.continue-btn {
		border: 2px solid green;
		color: #fff;
		background-color: green;
		font-size: 20px;
		border-radius: 6px;
		text-align: center;
		padding: 15px 60px;
		text-decoration: none;
		-webkit-transition:all .2s ease;
			 -moz-transition:all .2s ease;
				 -o-transition:all .2s ease;
						transition:all .2s ease;
}

.continue-btn:hover,
.continue-btn:focus {
		color: #fff;
		border-color: blue;
		background-color: blue;
		text-decoration: none;
		-webkit-transition:all .2s ease;
			 -moz-transition:all .2s ease;
				 -o-transition:all .2s ease;
						transition:all .2s ease;
}

/** Terms Page **/

.conditions-holder{
		overflow: auto;
		max-height: 300px;
		height: 100%;
		border: 1px solid #eee;
		border-radius: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
 }

/*Diane*/
 .bg-white{
		background: #fff;
		min-height: 100%;
		height: auto;
		position: relative;
		padding:50px;
		margin-bottom: 15px;
		
 }

.shadow-effect {
		position:relative;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			 -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
						box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow-effect:before, .shadow-effect:after {
		content:"";
		position:absolute;
		z-index:-1;
		-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
		-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
		box-shadow:0 0 20px rgba(0,0,0,0.8);
		top:10px;
		bottom:10px;
		left:0;
		right:0;
		-moz-border-radius:100px / 10px;
		border-radius:100px / 10px;
}

.shadow-effect:after {
		right:10px;
		left:auto;
		-webkit-transform:skew(8deg) rotate(3deg);
			 -moz-transform:skew(8deg) rotate(3deg);
				-ms-transform:skew(8deg) rotate(3deg);
				 -o-transform:skew(8deg) rotate(3deg);
						transform:skew(8deg) rotate(3deg);
}

.top-logo{
		text-align: center;
		width: 100%;
}

.top-logo > img{
		margin-top: 50px;
		max-width: 300px;
		width: 100%;
}

.conditions-content{
		overflow: auto;
 }

.terms-con-holder{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 60px;
 }

 .terms-con-holder > div > h3{
		text-align: center;
}

.link{
		text-decoration: underline;
		font-weight: bold;
}

 .availment-holder{
		margin-top: 30px;
		margin-bottom: 10px;
		padding-bottom: 40px;
}

 .availment-holder .btn{
		width: 240px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 20px;
		text-align: left;
		line-height: 27px;
}

/** Ad Page**/

#main-wrapper.ads-container{
		position: relative;
		text-align: center;
		padding-top: 0;
		padding-bottom: 0;
}

.ads-holder{
		height: 100%;
		display: inline-block;
		position: relative;
		max-width: 100%;
}

.ads-holder > .glyphicon:hover{
		color: #eee;
}

.ads-holder > .glyphicon{
		position: absolute;
		font-size: 30px;
		right:0;
		color: #fff;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
		text-decoration: none;
		z-index: 10;
}

.ads-img{
		max-height: 100%;
		max-width: 100%;
}



.terms-container{
		padding-top: 20px;
		padding-bottom: 20px;
}

.circle > i{
		color: #fff;
}

.availment-holder .btn > .circle{
		float: left;
		margin-right: 10px;
		font-weight: normal;
		box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.61);
		border-radius: 100%;
		color: #fff;
		width: 27px;
		height: 27px;
		text-align: center;
}

.powered-container{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: center;
		margin:0;
}

.powered-container > img{
		max-width: 170px;
		width: 100%;
		margin-bottom: 10px;
}

.conditions-content-btn{
		margin-top: 20px;
		margin-bottom: 20px; 
		text-align: center;
}

.content-footer p,
.content-footer strong{
		color: #fff;
		text-shadow: 0px 1px 2px rgba(0,0, 0, 1);
}

.btn-list > li{
		display: inline;
}

.text-center > p{
		padding: 0 20px;
}




/**Input form**/
.text-field {
		padding-bottom: 60px;
		text-align: center;
}

/*Diane*/
.text-field > form {
		padding: 0 20px;
		/*max-width: 300px;*/
		/*margin: 0 auto;*/
		margin-bottom: 20px;
		margin-top: 20px;

}

.title-qa {
		margin:20px 0;
		padding: 0 20px;
}

/*Diane*/
.radio-holder > div {
		display: block;
		margin: 0 10px;
}


.text-field > .survey-content {
		max-width: 800px;
		margin-bottom: 0px;
		margin-top: 0px; 
}
.survey-content-qa {
		margin-top: 20px;
		margin-bottom: 30px;
}

.survey-radio-btn {
		text-align: left;
		max-width: 250px;
		margin: 0 auto;
		margin-top: 10px;
}

.radio-holder > div > label {
		font-weight: 500;
		font-size: 13px;
}

/*Diane*/
.text-field > form > div > label {
		font-weight: 500;
		text-align: left;
		margin-bottom: 5px;
		width: 100%;
}

/*Diane*/
.radio-wrapper {
	position: relative;
		width: 100px;
		margin: 0 auto!important;
		text-align: left;
}

.radio-wrapper label, .radio-wrapper-select label {
	cursor: pointer;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-left: 32px;
	position: relative;
}

.radio-wrapper input[type="radio"], .radio-wrapper-select input[type="radio"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.radio-wrapper input[type="radio"] ~ .fake-box, .radio-wrapper-select input[type="radio"] ~ .fake-box  {
	background: white;
	border: 1px solid #ccc;
	border-radius: 50%;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}

.radio-wrapper input[type="radio"] ~ .fake-box:after, 
.radio-wrapper-select input[type="radio"] ~ .fake-box:after {
	background: #333;
	border-radius: 50%;
	content: '';
	font-size: 16px;
	height: 12px;
	left: 50%;
	margin-left: -6px;
	margin-top: -6px;
	position: absolute;
	text-align: center;
	top: 50%;
	visibility: hidden;
	width: 12px;
}

.radio-wrapper input[type="radio"]:checked ~ .fake-box:after, 
.radio-wrapper-select input[type="radio"]:checked ~ .fake-box:after {
	visibility: visible;
}

.radio-wrapper input[type="radio"]:focus ~ .fake-box, 
.radio-wrapper-select input[type="radio"]:focus ~ .fake-box {
	box-shadow: 0 0 8px #ccc;
}

.radio-wrapper input[type="radio"]:disabled ~ .radio-text,
.radio-wrapper input[type="radio"]:disabled ~ .fake-box,
.radio-wrapper-select input[type="radio"]:disabled ~ .radio-text,
.radio-wrapper-select input[type="radio"]:disabled ~ .fake-box {
	opacity: .5;
	cursor: default;
}

.date-holder > input {
		border-right-color: transparent;
}

.date-holder > span {
		background-color: transparent;

}
/*Diane*/
.alert-danger {
		background-color: transparent;
		border-color: transparent;
		color: #a94442;
		margin-bottom: 0px;
		text-transform: uppercase;
		font-weight: 700;
}

.alert-danger > span{
		color: #a94442;
}






/* Modal Fields */

.modal-content {
		border-radius: 0;
}

.modal-body {
		text-align: center;
}
.modal-body p a{
		color:black !important;
}
.modal-header {
		background-color: #006136;
		color: #fff;
}

.modal-header .close {
		opacity: 1;
		background-color: #fff;
		border-radius: 20px;
		padding: 2px 3px;
		font-size: 21px;
		line-height: 14px;
		margin-top: 0px;
		color: red;
		
}

.modal-header .close span{
		color: #006136;
}

.modal-footer {
		border-top:none;
		text-align: center;
}

.modal-sm {
		margin-top: 200px
}


/*==========  Laboracay  ==========*/


/*Button*/

.btn-continue {
	background-color: #02A8E6;
	color: #fff;
	font-family: FS Elliot Pro;
}

.btn-sign-fb {
		background-color: #009f07;
		font-family: FS Elliot Pro;
}

.btn-reg {
		background-color: #9f0016;
		font-family: FS Elliot Pro;
}
.btn-mobile {
		background-color: #000f9f;
		font-family: FS Elliot Pro;
}

.btn-close {
		background-color: #9f0000;
		font-family: FS Elliot Pro;
}

.ads-margin-btn {
		margin-top: -60px!important;
}

.adj-padding {
		padding: 0 20px;
}
.terms-btn {
		background-color: #0088ca;
		font-family: FS Elliot Pro;
}

.btn-continue:hover,
.btn-continue:focus{
	color: #000;
}

.btn-shadow {
	-webkit-box-shadow: 0 7px 6px -6px #282828;
		 -moz-box-shadow: 0 7px 6px -6px #282828;
					box-shadow: 0 7px 6px -6px #282828;
}

/*Diane*/
#globe-background-img-body {
		height: auto;
		min-height: 100%;
		position: relative;
		background: url(http://unifiapps.yondu.com/images/portal/5/splash.png) no-repeat center center fixed;
		-webkit-background-size: cover;
			 -moz-background-size: cover;
				 -o-background-size: cover;
						background-size: cover;
		
}


 .serendra-img{


height:500px;


		background: url(http://unifiapps.yondu.com/images/portal/5/i-love-serendra-bg.jpg) no-repeat center center fixed;



		
}

#serendra-modal-body {
		height: auto;
		min-height: 100%;
		position: relative;
		background: url(http://unifiapps.yondu.com/images/portal/5/i-love-serendra-bg.jpg) no-repeat center center fixed;

		-webkit-background-size: cover;
			 -moz-background-size: cover;
				 -o-background-size: cover;
						background-size: cover;
		
}



#main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, .text-center > p,{
		font-family: "FS Elliot Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
		
}

/*Diane*/
body,p,h1,h2,h3,h4,h5{
		font-family: "FS Elliot Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*Diane*/
.globe-container {
	padding-bottom: 135px;
	text-align: center;
}

.globe-continue-logo {
	width: 390px;
	margin: 0 auto;
	margin-top: 20px;
}


.globe-btm-logo > img{
	margin: 0 auto;
	width: 170px;
	margin-bottom: 10px;
}
.hashtag-btm-logo > p,
.hashtag-btm-logo > p > strong,
.hashtag-btm-logo > p > span{
		color: #1b54a4;
		text-shadow: none;
		margin: 0;
		font-family: FS Elliot Pro;
}

.hashtag-btm-logo > p > strong.surf50 {
		color: #ff008a;
}

.hashtag-btm-logo > p > span:before {
		content: url(../img/icon-spotify.png);
		padding-right: 5px;
}

.hashtag-btm-logo > img{
	margin: 0 auto;
	width: 270px;
}


#globe-btn-holder {
	width: 100%;
	text-transform: uppercase;
	font-family: "FS Elliot Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
	margin: 80px 0 20px;
}


#globe-bg-body {
		background: url(http://unifiapps.yondu.com/images/portal/5/splash.png) no-repeat top center fixed;
}

#globe-white-bg-body {
		background-color: #fff;
}

#globe-bg-body .top-logo > img{
 
	max-width: 200px;

}
.globe-availment-holder .btn{
		text-align: center;
		font-family: FS Elliot Pro;
}

/*Modal*/

.globe-modal-content .modal-header {
		background-color: #2c3b99;
}
.globe-modal-content .modal-header .close span {
		color: #2c3b99;
}



/*==========  Non-Mobile First Method  ==========*/
 
		/*==========  Non-Mobile First Method  ==========*/
 
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px){
 
    }
 
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px){

      #captive-portal-btn-holder{
          text-align: center;
        }
      #globe-btn-holder{
        margin: 20px 0 20px;
      }
    }

  @media only screen and (min-device-width : 768px)and (max-device-width : 1024px) and (orientation : landscape) {
      #captive-portal-btn-holder{
          text-align: center;
        }
      #globe-btn-holder{
        margin: 20px 0 20px;
      }
    }

    
 
    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px){
        .text-field {
            margin-top: 0px;
        }

        #captive-portal-btn-holder{
          text-align: center;
        }
				
				.height-adj {
						margin-top:0px;
				}
				
				.continue-logo {
						margin-top: 40px;
						max-width: 300px;
				}
				.welcome-text {
						text-align: center;
						margin-top: 0px; 
						padding-bottom: 70px;
				}
				
				#continue-holder > div > span{
						margin-top: 20px;
						font-size: 18px;
						margin-bottom: 60px;
				}
				
				.main-logo {
						margin-top: 15%;
				}
				
				.main-logo > img {
						padding: 0 20px;
				}
				
				.right-field-sub{
						padding-top: 15px;
						background-color: rgba(0, 0, 0, 0);
						margin-bottom:  0;
						padding-bottom: 0;
				}
				.right-field  {
						min-height: inherit;
							padding-bottom: 0px;
				}
				.right-field form{
						margin-bottom: 30px;
						
				}
				.right-field .form-group, 
				.date-picker-holder {
						padding-left: 50px;
						padding-right: 50px;
				}
				
				.mobile-reg {
/*            margin-top: 15px;*/
				}
				.survey-title {
						margin-bottom: 20px;
						margin-right: 20px;
						margin-left: 20px;
						text-align: center;
				}
				
				.modal-sm {
						margin-top: 70px
				}
				
				.top-logo > img{
						max-width: 250px;
				}
				
				#main-wrapper{
						padding-top: 15px;
						padding-bottom: 15px;
				}
				
				#main-wrapper.ads-container {
						padding-top: 15px;
						padding-bottom: 15px;
				}
				
				#globe-bg-body .top-logo > img {
						max-width: 150px;
				}

		}
 
		/* Extra Small Devices, Phones */
		@media only screen and (max-width : 480px){

				/*Diane*/
				.bg-white{
						padding: 5px;
				}
				.s-btn{
						width: 100%;
						padding: 10px;
				}

				.continue-logo {
						max-width: 160px;
						margin-top: 40px;
						padding: 0;
				}
				#continue-btn-holder {
						position: absolute;
						bottom: 50px;
						margin-bottom: 10px;
				}
				.right-field .form-group,
				.date-picker-holder {
						padding-left: 15px;
						padding-right: 15px;
				}
				.date-picker select {
						padding: 10px 10px;
				}
				.survey-title {
						margin-bottom: 20px;
						margin-right: 5px;
						margin-left: 5px;
						text-align: center;
				}
				.right-field form {
						margin-bottom: 20px;
				}
				
				.top-logo > img{
						max-width: 150px;
						margin-top: 30px;
				}
				
				#main-wrapper h2{
						font-size: 18px;
				}
				
				#main-wrapper h3{
						font-size: 24px;
				}
				
				#main-wrapper h4{
						font-size: 14px;
				}
				
				#main-wrapper h5,
				.text-field > form > div > label{
						font-size: 13px;
				}
				
				#main-wrapper p{
						font-size: 12px;
				}
				
				.availment-holder{
						margin-top: 25px;
				}
				
				.availment-holder h3{
						font-size: 16px;
				}
				
				.availment-holder .btn{
						margin-top: 10px;
				}
				
				.survey-content-qa > span {
						font-size: 13px;
						margin-bottom: 20px;
				}

				.content-footer p,
				.content-footer strong{
						font-size: 12px;
				}
				.powered-container > img {
						max-width: 130px;
				}
			
				.globe-continue-logo {
						margin-top: 10px;
				}
				.hashtag-btm-logo > img {
						padding: 0 20px;
				}

				.globe-btm-logo > img {
						max-width: 130px;
				}
				
				#globe-bg-body .top-logo > img {
						max-width: 100px;
				}
				
				/*Captive Portal*/
				#captive-portal-wrapper{
						margin: 60px 0 0;
				}

				#captive-portal-content{
						margin: 0;
						text-align: center!important;
				}

				#captive-portal-wrapper h2{
						font-weight: 300!important;
						font-size: 24px;
				}

				#captive-portal-wrapper b {
						font-size: 38px;
				}

				#globe-btn-holder{
						text-align: center;
						margin:20px 0 20px;
				}

				.radio-wrapper label , .radio-wrapper-select label{
						font-size: 12px!important;
						margin-bottom: 5px;
				}

				.title-que{
						font-size: 14px;
				}

				#radio-wrapper-container{
						max-width: 150px;
				}
		}

.globe-container h2, .globe-container p {
color:#fff;
}