/* FS Elliot Pro Regular */
@font-face {
    font-family: 'FS Elliot';
    src: url('FS Elliot Pro-Regular-webfont.eot');
    src: url('FS Elliot Pro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('FS Elliot Pro-Regular-webfont.woff2') format('woff2'),
         url('FS Elliot Pro-Regular-webfont.woff') format('woff'),
         url('FS Elliot Pro-Regular-webfont.ttf') format('truetype'),
         url('FS Elliot Pro-Regular-webfont.svg#fs_elliot_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}