/*
Project Name: Porject Wifi
Project Version: 1
Owner: Yondu
Website: http://yondu.com
front-end Developer: UXD-Team
                     Jose D. Santos IV,
                     Reynier Carlo Nebres,
*/


@import url("fonts.css");

/** General **/

* {
    font-family: 'Open sans', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #003f23;
}

body, #main-wrapper {
    height: inherit;
}

.btn-wifi {
    color: #fff;
    background-color: #006136;
    border-color: none;
    padding: 10px 50px;
    font-weight: 600;
    -webkit-transition:all .2s ease;
       -moz-transition:all .2s ease;
         -o-transition:all .2s ease;
            transition:all .2s ease;
}

.btn-wifi:hover,
.btn-wifi:focus{
    border-color: none;
    color: #fff;
}

.btn-wifi:active,
.btn-wifi:focus{
    -webkit-transform: translate(0px,5px);
       -moz-transform: translate(0px,5px);
         -o-transform: translate(0px,5px);
            transform: translate(0px,5px);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
       -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
         -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}




#background-imgv1-body {
    height: auto;
    min-height: 100%;
    position: relative;
    background: url(../img/sample-bg.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#main-wrapper h2,
#main-wrapper h3,
#main-wrapper h4,
#main-wrapper h5{
    font-weight: 700;
}
#main-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-text {
    text-align: center;
    margin-top: 100px;
}

.hide-content {
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

#continue-holder > div > span{
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    padding: 15px;
    border-radius: 3px;
    font-size: 24px;
    text-shadow: 0px 1px 2px rgba(0,0, 0, .5);
    display: inline-block;
}

.continue-logo {
    margin: 0 auto;
    max-width: 300px;
    margin-top: 20px;
    max-height: 200px;
}
#continue-btn-holder {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.height-adj {
    margin-top: 164px;
}

.continue-btn {
    border: 2px solid green;
    color: #fff;
    background-color: green;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    -webkit-transition:all .2s ease;
       -moz-transition:all .2s ease;
         -o-transition:all .2s ease;
            transition:all .2s ease;
}

.continue-btn:hover,
.continue-btn:focus {
    color: #fff;
    border-color: blue;
    background-color: blue;
    text-decoration: none;
    -webkit-transition:all .2s ease;
       -moz-transition:all .2s ease;
         -o-transition:all .2s ease;
            transition:all .2s ease;
}

/* Lalay: adjustment for forms with cancel button */
.with-cancel{
    padding: 10px 37px;
}

/** Terms Page **/

.conditions-holder{
    overflow: auto;
    max-height: 300px;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
 }


 .bg-white{
    background: #fff;
    min-height: 100%;
    height: auto;
    position: relative;
    margin-bottom: 15px;
    
 }

.bg-white .terms-btn{
   margin-top: 30px
}

.tos-adj {
   padding-bottom: 100px;
}

.shadow-effect {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadow-effect:before, .shadow-effect:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.shadow-effect:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.top-logo{
    text-align: center;
    width: 100%;
}

.top-logo > img{
    margin-top: 15px;
    max-width: 300px;
    width: 100%;
}

.conditions-content{
    overflow: auto;
 }

.terms-con-holder{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
 }

 .terms-con-holder > div > h3{
    text-align: center;
}

.link{
    text-decoration: underline;
    font-weight: bold;
}

 .availment-holder{
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 40px;
}

 .availment-holder .btn{
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    text-align: left;
    line-height: 27px;
}

/** Ad Page**/

#main-wrapper.ads-container{
    position: relative;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.ads-holder{
    height: 100%;
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.ads-holder > .glyphicon:hover{
    color: #eee;
}

.ads-holder > .glyphicon{
    position: absolute;
    font-size: 30px;
    right:0;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    text-decoration: none;
    z-index: 10;
}

.ads-holder img {
    max-height: 100% !important;
    max-width: 100% !important;
	
}

.ads-img{
    max-height: 100%;
    max-width: 100%;
}


.terms-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle > i{
    color: #fff;
}

.availment-holder .btn > .circle{
    float: left;
    margin-right: 10px;
    font-weight: normal;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.61);
    border-radius: 100%;
    color: #fff;
    width: 27px;
    height: 27px;
    text-align: center;
}

.powered-container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin:0;
}

.powered-container > img{
    max-width: 190px;
    width: 100%;
    margin-bottom: 10px;
}

.conditions-content-btn{
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: center;
}

.content-footer p,
.content-footer strong{
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0, 0, 1);
}

.btn-list > li{
    display: inline;
}

.text-center > p{
    padding: 0 20px;
}




/**Input form**/
.text-field {
    padding-bottom: 60px;
    text-align: center;
}

.text-field > form {
    padding: 0 20px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;

}

.title-qa {
    margin-top: 20px;
    padding: 0 20px;
}

.radio-holder > div {
    display: inline-block;
    margin: 0 10px;
}


.text-field > .survey-content {
    max-width: 800px;
    margin-bottom: 0px;
    margin-top: 0px; 
}
.survey-content-qa {
    margin-top: 20px;
    margin-bottom: 30px;
}

.survey-radio-btn {
    text-align: left;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 10px;
}

.radio-holder > div > label {
    font-weight: 500;
    font-size: 13px;
}

.text-field > form > div > label {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}


.radio-wrapper {
  position: relative;
  margin: 5px 0;
}

.radio-wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-left: 32px;
  position: relative;
}

.radio-wrapper input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radio-wrapper input[type="radio"] ~ .fake-box {
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.radio-wrapper input[type="radio"] ~ .fake-box:after {
  background: #333;
  border-radius: 50%;
  content: '';
  font-size: 16px;
  height: 12px;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;
  position: absolute;
  text-align: center;
  top: 50%;
  visibility: hidden;
  width: 12px;
}

.radio-wrapper input[type="radio"]:checked ~ .fake-box:after {
  visibility: visible;
}

.radio-wrapper input[type="radio"]:focus ~ .fake-box {
  box-shadow: 0 0 8px #ccc;
}

.radio-wrapper input[type="radio"]:disabled ~ .radio-text,
.radio-wrapper input[type="radio"]:disabled ~ .fake-box {
  opacity: .5;
  cursor: default;
}

.date-holder > input {
    border-right-color: transparent;
}

.date-holder > span {
    background-color: transparent;

}

.date-picker-holder {
    text-align: center;
    padding: 0;
}
.date-picker {
    padding: 0px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 15px;
}

.date-picker:first-of-type {
    position: relative;
    width: 100%;
}

.date-picker input {
    display: none;
}

.date-picker select {
    line-height: 34px;
    height: 40px;
    padding: 10px 12px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 0;
    margin-right: 3%;
    color: #555;
}


.date-picker select option{
    color: #555;
}

.date-picker .month {
    width: 38%;
}

.date-picker .day {
    width: 28%;
}

.date-picker .year {
    width: 28%;
}


.date-picker select:last-child{
    margin-right: 0;
}
.date-picker select.invalid {
    color: #E9403C;
}

.alert-danger {
    background-color: transparent; 
    border-color: transparent; 
    color: #a94442;
    margin-bottom: 0px;
}

.alert-danger > span{
    color: #a94442;
}






/* Modal Fields */

.modal-content {
    border-radius: 0;
}

.modal-body {
    text-align: center;
}

.modal-header {
    background-color: #006136;
    color: #fff;
}

.modal-header .close {
    opacity: 1;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px 3px;
    font-size: 21px;
    line-height: 14px;
    margin-top: 0px;
    color: red;
    
}

.modal-header .close span{
    color: #006136;
}

.modal-footer {
    border-top:none;
    text-align: center;
}

.modal-sm {
    margin-top: 200px
}


/*==========  Laboracay  ==========*/


/*Button*/

.btn-continue {
  background-color: #d7d10d;
  color: #000;
  font-family: 'Open sans', sans-serif;
}

.btn-sign-fb {
    background-color: #009f07;
    font-family: 'Open sans', sans-serif;
}

.btn-reg {
    background-color: #9f0016;
    font-family: 'Open sans', sans-serif;
}
.btn-mobile {
    background-color: #000f9f;
    font-family: 'Open sans', sans-serif;
}

.btn-close {
    background-color: #9f0000;
    font-family: 'Open sans', sans-serif;
}

.ads-margin-btn {
    margin-top: -60px!important;
}

.adj-padding {
    padding: 0 20px;
}
.terms-btn {
    background-color: #0088ca;
    font-family: 'Open sans', sans-serif;
}

.btn-continue:hover,
.btn-continue:focus{
  color: #000;
}

.btn-shadow {
  -webkit-box-shadow: 0 7px 6px -6px #282828;
     -moz-box-shadow: 0 7px 6px -6px #282828;
          box-shadow: 0 7px 6px -6px #282828;
}


#globe-background-img-body {
    height: auto;
    min-height: 100%;
    position: relative;
    background: url(../img/apec-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
}
#main-wrapper h2, #main-wrapper h3, #main-wrapper h4, #main-wrapper h5, .text-center > p,{
    font-family: 'Open sans', sans-serif;
    
}
.globe-container {
  padding-bottom: 50px;
}

.globe-continue-logo {
  width: 360px;
  margin: 0 auto;
  margin-top: 50px;
}


.globe-btm-logo > img{
  margin: 0 auto;
  /*width: 170px;*/
  margin-bottom: 10px;
  padding:0 20px;
}
.hashtag-btm-logo > p,
.hashtag-btm-logo > p > strong,
.hashtag-btm-logo > p > span{
    color: #1b54a4;
    text-shadow: none;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.hashtag-btm-logo > p > strong.surf50 {
    color: #ff008a;
}

.hashtag-btm-logo > p > span:before {
    content: url(../img/icon-spotify.png);
    padding-right: 5px;
}

.hashtag-btm-logo > img{
  margin: 0 auto;
  width: 270px;
}

#globe-btn-holder {
  width: 100%;
  text-align: center;
  font-family: 'Open sans', sans-serif;
}

.btn-holder {
    margin-top: 100px;
}


#globe-bg-body {
    background-color: #2c3b99;
}

#globe-white-bg-body {
    background-color: #fff;
}

#globe-bg-body .top-logo > img{
 
  max-width: 200px;

}
.globe-availment-holder .btn{
    text-align: center;
    font-family: 'Open sans', sans-serif;
}

/*Modal*/

.globe-modal-content .modal-header {
    background-color: #2c3b99;
}
.globe-modal-content .modal-header .close span {
    color: #2c3b99;
}

.btn-list-with-title{
    padding: 0 20px;
    margin-bottom: 30px;
}
.btn-list-with-title > li{
    float: left;
    width: 50%;
    position: relative;
    min-height: 100px;
}
.btn-with-title{
    margin-top: 10px!important;
    margin-bottom: 10px;
}
.lbl-button-text{
    font-size: 11px;
    width: 240px;
    margin: 0 auto;
}
.lbl-button-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.reg-btn-holder-with-text{
    overflow: hidden;
    margin-bottom: 10px;
}

/*==========  Non-Mobile First Method  ==========*/
 
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px){
 
    }
 
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px){
 
    }
 
    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px){
        .text-field {
            margin-top: 0px;
        }
        
        #continue-btn-holder {
            margin-bottom: 50px
            
        }
        
        .height-adj {
            margin-top:0px;
        }
        
        .continue-logo {
            margin-top: 40px;
            max-width: 300px;
        }
        .welcome-text {
            text-align: center;
            margin-top: 0px; 
            padding-bottom: 70px;
        }
        
        #continue-holder > div > span{
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: 60px;
        }
        
        .main-logo {
            margin-top: 15%;
        }
        
        .main-logo > img {
            padding: 0 20px;
        }
        
        .right-field-sub{
            padding-top: 15px;
            background-color: rgba(0, 0, 0, 0);
            margin-bottom:  0;
            padding-bottom: 0;
        }
        .right-field  {
            min-height: inherit;
              padding-bottom: 0px;
        }
        .right-field form{
            margin-bottom: 30px;
            
        }
        .right-field .form-group, 
        .date-picker-holder {
            padding-left: 50px;
            padding-right: 50px;
        }
        
        .mobile-reg {
/*            margin-top: 15px;*/
        }
        .survey-title {
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 20px;
            text-align: center;
        }
        
        .modal-sm {
            margin-top: 70px
        }
        
        .top-logo > img{
            max-width: 250px;
        }
        
        #main-wrapper{
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        #main-wrapper.ads-container {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        #globe-bg-body .top-logo > img {
            max-width: 150px;
        }

    }
 
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px){
        .continue-logo {
            max-width: 180px;
            margin-top: 40px;
            padding: 0;
        }
		.middle-logo {
            max-width: 200px;
        }
        #continue-btn-holder {
            position: absolute;
            bottom: 50px;
            margin-bottom: 10px;
        }
        .right-field .form-group,
        .date-picker-holder {
            padding-left: 15px;
            padding-right: 15px;
        }
        .date-picker select {
            padding: 10px 10px;
        }
        .survey-title {
            margin-bottom: 20px;
            margin-right: 5px;
            margin-left: 5px;
            text-align: center;
        }
        .right-field form {
            margin-bottom: 20px;
        }
        
        .top-logo > img{
            max-width: 150px;
            margin-top: 30px;
        }
        
        #main-wrapper h2{
            font-size: 18px;
        }
        
        #main-wrapper h3{
            font-size: 16px;
        }
        
        #main-wrapper h4{
            font-size: 14px;
        }
        
        #main-wrapper h5,
        .text-field > form > div > label{
            font-size: 13px;
        }
        
        #main-wrapper p{
            font-size: 12px;
        }
        
        .availment-holder{
            margin-top: 25px;
        }
        
        .availment-holder h3{
            font-size: 16px;
        }
        
        .availment-holder .btn{
            margin-top: 10px;
        }
        
        .survey-content-qa > span {
            font-size: 13px;
            margin-bottom: 20px;
        }

        .content-footer p,
        .content-footer strong{
            font-size: 12px;
        }
        .powered-container > img {
            max-width: 190px;
        }
      
        .globe-continue-logo {
            margin-top: 30px;
            padding: 0 20px;
        }
        .hashtag-btm-logo > img {
            padding: 0 20px;
        }

        .globe-btm-logo > img {
            max-width: 190px;
        }
        
        #globe-bg-body .top-logo > img {
            max-width: 100px;
        }

        .btn-list-with-title > li{
            width: 100%;
            min-height: 75px;
        }
        .btn-list-with-title{
            margin-bottom: 25px;
        }

        .btn-with-title{
            padding: 10px 30px;
            margin: 5px 10px!important;
            font-size: 12px;
            line-height: 15px!important
        }
        
        .lbl-button-text{
            font-size: 10px;
        }
            
    }


