.ads-container{
	position: relative;
	text-align: center;
 }

 .upsell{
    height: 100%!important;
    text-align: center;
    /*height: auto;*/
 }

 /* .height-limit,
 .terms-con-holder > div, 
 .terms-con-holder > div > div.row{
     height: 100%!important;
     overflow: hidden;
 } */

 .terms-con-holder > div > div.row{
    /* height: 285px;
    overflow: auto; */

/*    min-height: 250px;*/
    overflow: auto;
    max-height: 300px;
    height: 100%;
 }

 #main-wrapper.txtcolor-white *{
 	color: #fff;
 }

 .bg-white{
    background: #fff;
    min-height: 100%;
    /* height: inherit; */
    height: auto;
    position: relative;
    margin-bottom: 20px;
 }

 .conditions_content{
	overflow: auto;
 }

 .terms-con-holder{
    padding-left: 20px;
    padding-right: 30px;
    /*height: 60%;*/
      padding-bottom: 50px;
 }

 .terms-con-holder .conditions_content{
 	/* height: calc(100% - 75px); */
     /*  height: 70%; */
 }

 .link{
 	text-decoration: underline;
 	font-weight: bold;
 }

 .availment-holder{
	margin-top: 30px;
	margin-bottom: 10px;
    padding-bottom: 25px;
 }

 .availment-holder .btn{
 	width: 240px;
 	border-color: #fff;
 	margin-left: 10px;
 	margin-right: 10px;
 	margin-top: 20px;
    text-align: left;
    line-height: 27px;
 }

.availment-holder > .reg-btn-holder{
	margin-top: 0px;
}

.ads-holder{
	height: 100%;
	display: inline-block;
	position: relative;
}

.ads-holder > .glyphicon:hover{
	text-decoration: none;
}

.ads-holder > .glyphicon{
	position: absolute;
	font-size: 40px;
	right:0;
}

.ads-img{
	max-height: 100%;
	max-width: 100%;
}

.top-logo > img{
    max-width: 320px;
    width: 100%;
}

.terms-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle > i{
    color: white
}
.availment-holder .btn > .circle{
    float: left;
    margin-right: 10px;
    font-weight: normal;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.61);
    border-radius: 100%;
    color: white;
    width: 27px;
    height: 27px;
    text-align: center;
}

.btn-termscon{
    background: #9e0000;
}

.powered-container{
    position: absolute;
    bottom: 10px;
    right: 20px;
    /*top: 10px;
    text-align: right; */
}

.powered-container > img{
    max-width: 100px;
    width: 100%;
}

.reg-btn-holder{
    margin-bottom: 20px; 
}

.btn-list{
    overflow: hidden;
}

.btn-list > li{
    display: inline;
}

.text-center > p{
    padding: 0 20px;
}



 /*==========  Non-Mobile First Method  ==========*/
 
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px){
 
    }
 
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px){
 
    }
 
    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px){
        /* #background-imgv1-body {
            height: auto;
        }
        .main-logo > img {
            padding: 0 20px;d
        }
        
        .right-field-sub{
            padding-top: 10%;
            background-color: rgba(0, 0, 0, 0)
        }
        .right-field form{
            margin-bottom: 30px;
            
        }
        .right-field .form-group, 
        .date-picker-holder {
            padding-left: 50px;
            padding-right: 50px;
        } */

        
        .top-logo{
          text-align: center;
        }

        .top-logo > img{
            max-width: 250px;
        }

        .terms-con-holder > div > h2{
            text-align: center;
        }

        .powered-container{
        bottom: 0;
        }

  /*      .powered-container > img{
            width: 100px;
            margin-bottom: 10px;
        }*/

    }
 
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px){
        
       /*  .right-field .form-group,
       .date-picker-holder {
           padding-left: 15px;
           padding-right: 15px;
       } */
        h2{
        	font-size: 20px;
        }

        p{
        	font-size: 12px;
        }

		
		.availment-holder{
			margin-top: 25px;
		}

		.availment-holder h3{
			font-size: 16px;
		}

		.availment-holder .btn{
			margin-top: 10px;
		}
		
		.ads-holder > .glyphicon{
			top: 20px;
		}

		.ads-img{
			margin-top: 20px;
		}

       /*  .terms-con-holder{
           height: 55%;
       } */

        .top-logo > img{
            max-width: 150px;
        }
       
    }
 
